name: ci
on:
  pull_request:
    branches:
      - main
      - release-*
      - update

jobs:
  pull:
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        job:
          - verify
          - build
          - unit-test
          - integration-test
    runs-on: ${{ fromJson('{"amd64":"ubuntu-latest", "arm64":["self-hosted", "Linux", "ARM64"]}')[matrix.arch] }}

    steps:
      - name: Set up Go 1.18
        uses: actions/setup-go@v1
        with:
          go-version: 1.18.2
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: go/src/github.com/${{ github.repository }}

      - name: ${{ matrix.job }}
        run: |
          # workaround for https://github.com/actions/setup-go/issues/14
          export GOPATH=${GITHUB_WORKSPACE}/go
          export PATH=$PATH:$GOPATH/bin

          #use sh function
          if [[ "$job" == "verify" ]]; then
            # preload go modules before goimports
            go mod download -x
            make check
            make groupimports || echo 0
            echo "Please make check before creating a PR"
            git diff --quiet -- . || (git diff | cat && false)
          elif [[ "$job" == "build" ]]; then
            make build
          elif [[ "$job" == "unit-test" ]]; then
            make unit-test
          elif [[ "$job" == "integration-test" ]]; then
            sudo apt-get update
            sudo apt-get install -y stress-ng
            make integration-test
          else
            make $job
          fi
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ github.repository }}
        env:
          job: ${{ matrix.job }}
