name: ci
on:
  pull_request:
    branches:
      - main
      - release-*

jobs:
  pull:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        job:
          - verify
          - build
          - unit-test
          - integration-test

    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16.2
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          path: go/src/github.com/${{ github.repository }}

      - name: ${{ matrix.job }}
        run: |
          # workaround for https://github.com/actions/setup-go/issues/14
          #export GOPATH=${GITHUB_WORKSPACE}/go
          #export PATH=$PATH:$GOPATH/bin
          make groupimports || echo 0
          #use sh function
          if [[ "$job" == "verify" ]]; then
            make check
            echo "Please make check before creating a PR"
            git diff --quiet -- . || (git diff | cat && false)
          elif [[ "$job" == "build" ]]; then
            make build
          elif [[ "$job" == "unit-test" ]]; then
            make test
          elif [[ "$job" == "integration-test" ]]; then
            sudo apt-get install -y stress-ng
            make integration-test
          else
            make $job
          fi
        working-directory: ${{ github.workspace }}/go/src/github.com/${{ github.repository }}
        env:
          job: ${{ matrix.job }}
