name: Release tag binary
on:
  push:
    tags:
      - v*
jobs:
  run:
    name: Upload
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16.2
        id: go

      - uses: actions/checkout@master
        with:
          # Must use at least depth 2!
          fetch-depth: 2
      - uses: actions/setup-python@v2
      - name: Configure awscli
        run: |
          pip3 install awscli
          printf "%s\n" ${{ secrets.AWS_ACCESS_KEY }} ${{ secrets.AWS_SECRET_KEY }} ${{ secrets.AWS_REGION }} "json" | aws configure
      - name: Build binary
        run: make build
      - name: Upload files
        run: |

          GIT_TAG=${GITHUB_REF##*/}

          # download tools
          curl -fsSL -o byteman.tar.gz https://mirrors.chaos-mesh.org/latest/byteman.tar.gz
          curl -fsSL -o stress-ng https://mirrors.chaos-mesh.org/latest/stress-ng
          tar zxvf byteman.tar.gz
          chmod +x ./stress-ng

          # prepare package
          mkdir chaosd-${GIT_TAG}-linux-amd64
          mkdir chaosd-${GIT_TAG}-linux-amd64/tools
          mv bin/chaosd chaosd-${GIT_TAG}-linux-amd64/
          mv byteman chaosd-${GIT_TAG}-linux-amd64/tools/
          mv stress-ng chaosd-${GIT_TAG}-linux-amd64/tools/

          # upload package
          tar czvf chaosd-${GIT_TAG}-linux-amd64.tar.gz chaosd-${GIT_TAG}-linux-amd64
          aws s3 cp chaosd-${GIT_TAG}-linux-amd64.tar.gz ${{ secrets.AWS_BUCKET_NAME }}/chaosd-${GIT_TAG}-linux-amd64.tar.gz
